<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="crsf" value="{{_csrf.token}}"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name = "Model" placeholder="Модель" />
        <input type="text" name="price" placeholder="Цена" />
        <input type="hidden" name="crsf" value="{{_csrf.token}}"/>
        <button type="submit">Добавить станок</button>
    </form>
</div>
<div>Список станков</div>
{{#machines}}
<div>
    <b>{{id}}</b>
    <span>{{Model}}</span>
    <i>{{price}}</i>
</div>
{{/machines}}
</body>
</html>